/.svn/*
/*/.svn/*
/*/*/.svn/*
*.exe
/ide.45/FMAIL.~DE
/ide.45/fmail.OBR
/obj.45/ob*/*.obj
/FMAIL.AR
/FMAIL.ARD
/FMAIL.CFG
/fmail.mak
/FMAIL.NOD
/FMAIL32.DUP
/FMailW32.test.bat
/LOG/FMAIL.LOG
/MB/FMAIL.LOC
/MB/MSGHDR.BBS
/MB/MSGIDX.BBS
/MB/MSGINFO.BBS
/MB/MSGTOIDX.BBS
/MB/MSGTXT.BBS
/doc/fmail0.msg
/doc/fmail1.msg
/doc/ftscprod.z11
/doc/gpl-url.txt
/doc/header.txt
/doc/ReadMe.TXT
/doc/fmail2.msg
/doc/ReadMe.TXT
/doc/fmail2.msg
/old/*
/tst.out/*
*.bak