*.bak
*.cgl
*.C~
*.dsk
*.exe
*.tds
*.~*
/doc/fmail0.msg
/doc/fmail1.msg
/doc/fmail2.msg
/doc/fmail2.msg
/doc/fsp-1034.001
/doc/gpl-url.txt
/doc/header.txt
/doc/todo_tmp
/FMAIL.AR
/FMAIL.AR.*
/FMAIL.ARD
/fmail.bde
/FMAIL.CFG
/fmail.mak
/FMAIL.NOD
/fmail.pck
/FMAIL32.DUP
/FMailW32.test.bat
/ide.45/fmail.mak
/ide.45/fmail.OBR
/ide.45/FMAIL.~DE
/inbnd.tmp
/INBOUND~
/Jam
/LOG
/MSGBASE
/NETMAIL
/obj.45/ob*/*.obj
/OBJ.6/*/*.obj
/obj/Debug
/old
/Release/W32
/test
/tst.out
/tmp
/bcl/*.TAG
/bcl/*.BCL
/bcl/NEW_IN.148A
/bcl/fsc-0057.003
