*.exe
/doc/fmail0.msg
/doc/fmail1.msg
/doc/fmail2.msg
/doc/fmail2.msg
/doc/ftscprod.z11
/doc/gpl-url.txt
/doc/header.txt
/doc/ReadMe.TXT
/doc/ReadMe.TXT
/FMAIL.AR
/FMAIL.ARD
/FMAIL.CFG
/fmail.mak
/FMAIL.NOD
/FMAIL32.DUP
/FMailW32.test.bat
/ide.45/fmail.OBR
/ide.45/FMAIL.~DE
/Jam
/LOG
/MSGBASE
/obj.45/ob*/*.obj
/old
/tst.out
*.bak
*.~*
*.dsk
/fmail.bde
*.C~
/ide.45/fmail.mak
*.tds
/inbnd.tmp/000011bb.mo9
